extends layout

block content
  
  
  div#reading_area
    h2.centre Introduction
    p.par In cryptography, a Caesar cipher, also known as a Caesar's cipher, the shift cipher, Caesar's Code or Caesar Shift,is one of the simplest and most 
      | widely-known encryption techniques. This cipher method is a substituation type, which means that each letter in the original message (which in cryptography 
      | called the plaintext) is shifted by fixed number, which is called key, and replaced by the position that the letter is shifted to. For example, the key is 5, 
      | "A" would be replaced by "F", "C" would be replaced by "H", and so on. The out put message is called ciphertext in cryptography.
    
    h2.centre History
    p.par The Caesar cipher is named after Julius Caesar, who, used it with a shift of three to protect messages of military significance:
    ul
      li
        p If he had anything confidential to say, he wrote it in cipher, that is, by so changing the order of the letters of the alphabet, that not a word could be 
          | made out. If anyone wishes to decipher these, and get at their meaning, he must substitute the fourth letter of the alphabet, namely D, for A, and so with 
          | the others.
    p.par It is unknown how effective the Caesar cipher was at the time, but it is likely to have been reasonably secure, not least because most of Caesar's enemies 
      | would have been illiterate and others would have assumed that the messages were written in an unknown foreign language. There is no record at that time of any 
      | techniques for the solution of simple substitution ciphers. The earliest surviving records date to the 9th century works of Al-Kindi in the Arab world with 
      | the discovery of frequency analysis.
    
    h2.centre Breaking the Cipher
    p.par The Caesar cipher can be easily broken even in a ciphertext-only scenario. Two situations can be considered:
    ol
      li
        p an attacker knows (or guesses) that some sort of simple substitution cipher has been used, but not specifically that it is a Caesar scheme;
      li
        p an attacker knows that a Caesar cipher is in use, but does not know the shift value.
    p.par In the first case, the cipher can be broken using the same techniques as for a general simple substitution cipher, such as frequency analysis or 
      | pattern words.[16] While solving, it is likely that an attacker will quickly notice the regularity in the solution and deduce that a Caesar cipher 
      | is the specific algorithm employed.
    p.par In the second instance, breaking the scheme is even more straightforward. Since there are only a limited number of possible shifts (26 in English), 
      |they can each be tested in turn in a <a href="/BruteForce">brute force attack</a>. One way to do this is to write out a snippet of the ciphertext in a 
      |table of all possible shifts – a technique sometimes known as "completing the plain component". The example given is for the ciphertext "EXXEGOEXSRGI"; 
      |the plaintext is instantly recognisable by eye at a shift of four. Another way of viewing this method is that, under each letter of the ciphertext, 
      |the entire alphabet is written out in reverse starting at that letter. This attack can be accelerated using a set of strips prepared with the alphabet 
      |written down in reverse order. The strips are then aligned to form the ciphertext along one row, and the plaintext should appear in one of the other rows.
      
    h2.centre Refrences
    ol
      li.reference
        a(href='https://en.wikipedia.org/wiki/Caesar_cipher' target='_blank') https://en.wikipedia.org/wiki/Caesar_cipher
        
    div
      button#top(title='Go to top' onclick='goTop()') Top
