extends layout

block content
  //- !PAGE CONTENT!
  .w3-main(style='margin-top: 85px;')
    
    //- Top header
    header.w3-container.w3-xlarge
      
    p(style='margin-left:25px') 4 items
      
    //- Product grid
    .w3-row.w3
      .w3-col.l3.s6#horse
        .w3-container
          .w3-display-container
            img(src='/images/horse.jpg' style='width:100%')
            .w3-display-middle.w3-display-hover
              form
                button(type="submit").w3-button.w3-black
                  | Add to basket 
                  i.fa.fa-shopping-cart
          p
            | Horse
            br
            b $24.99
        
      .w3-col.l3.s6#duck
        .w3-container
          .w3-display-container
            img(src='/images/duck.jpg' style='width:100%')            
            .w3-display-middle.w3-display-hover
              form
                button(type="submit").w3-button.w3-black
                  | Add to basket 
                  i.fa.fa-shopping-cart
          p
            | large duck
            br
            b $19.99
        
      .w3-col.l3.s6#printer
        .w3-container
          .w3-display-container
            img(src='/images/hp_printer.jpg' style='width:100%')
            .w3-display-middle.w3-display-hover
              form
                button(type="submit").w3-button.w3-black
                  | Add to basket 
                  i.fa.fa-shopping-cart
            p
              | hp printer
              br
              b $20.50
        
      .w3-col.l3.s6#private
        .w3-container
          .w3-display-container
            img(src='/images/private.png' style='width:100%')
            .w3-display-middle.w3-display-hover
              form
                button(type="submit").w3-button.w3-black
                  | Add to basket 
                  i.fa.fa-shopping-cart
          p
            | sth else
            br
            b $14.99
    
  //- End page content
