doctype html
title= title
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
link(rel='stylesheet', href='/stylesheets/login.css')
link(rel='stylesheet', href='/stylesheets/signup.css')
link(rel='stylesheet', herf='/stylesheets/style.css')
script(src='/javascripts/sidebar.js')

  
// Sidebar/menu
nav#mySidebar.w3-sidebar.w3-bar-block.w3-white.w3-collapse.w3-top(style='z-index:3;width:250px')
  .w3-container.w3-display-container.w3-padding-16
    i.fa.fa-remove.w3-hide-large.w3-button.w3-display-topright(onclick='w3_close()')
    h3.w3-wide
      b #{title}
  .w3-padding-64.w3-large.w3-text-grey(style='font-weight:bold')
    a.w3-bar-item.w3-button(href='/') Home
    a.w3-bar-item.w3-button(onclick="document.getElementById('id01').style.display='block'") Login
    a#myBtn.w3-button.w3-block.w3-white.w3-left-align(onclick='myAccFunc()' href='javascript:void(0)')
      | drop 
      i.fa.fa-caret-down
    #demoAcc.w3-bar-block.w3-hide.w3-padding-large.w3-medium
      a.w3-bar-item.w3-button.w3-light-grey(href='#')
        i.fa.fa-caret-right.w3-margin-right
        | Horse detail
      a.w3-bar-item.w3-button(href='#') HP Printer Detail
  
  div#id01.login_div
    span(onclick="document.getElementById('id01').style.display='none'" class='close' title="Close Modal") &times;
    form(class='login-content animatelog' method='POST' action="/users/login" )
      div.logcontainer
        label(for='uname') 
          b Username
        input(type='text' placeholder='Enter Username' name='username' required class="login" id='username')
          
        label(for='psw') 
            b Password
        input(type='password' placeholder='Enter Password' name='password' required class="login" id='password')
          
        button(type='submit' class='bb') login
        label #[input(type="checkbox" checked name='remember')] Remember me
      div.logcontainer(style='background-color:#f1f1f1')
        button(type='button' onclick="document.getElementById('id01').style.display='none'" class="cancelbtn") Cancel
        span(class="psw") Forget #[a(href='#' id='forget') Password?] or #[a(href='#' id="signupbt" onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='block'") Sign up]
  
  div#id02.signup_div
    span(onclick="document.getElementById('id02').style.display='none'" class='close1' title="Close Modal1") &times;
    form(class='signup-content animatesign' method="POST" action="/users/register")
      div(class='signcontainer')
        h1 Sign up
        p Please fill in this form to create an account.
        hr#hrsign
        label(for='username')
          b Username
        input(type="text" placeholder="Enter Username" name="username" required class="signup")
          
        label(for='1name')
          b First Name
        input(type="text" placeholder="Enter your Firstname" name="1name" required class="signup")
          
        label(for='2name')
          b Surname
        input(type="text" placeholder="Enter Surname" name="2name" required class="signup")
          
        label(for='email')
          b Email
        input(type="text" placeholder="Enter Email" name="email" required class="signup")
          
        label(for='phoneNo')
          b Phone Number
        input(type="text" placeholder="Enter Phone Number" name="phoneNo" required class="signup")
          
        label(for='address')
          b Address
        input(type="text" placeholder="Enter your Home Address" name="address" required class="signup")
          
        label(for="psw1")
          b Password
        input(type='password' placeholder='Enter Password' name='password' required class="signup")
        
        label(for='psw-repeat')
          b Repeat Password
        input(type='password' placeholder='Repeat Password' name='password2' required class="signup")
        
        label #[input(type="checkbox" checked name='remember' style='margin-bottom:15px;')] Remember me
        
        p By creating an account you agree to our #[a(href="#" style="color:dodgerblue") Terms & Policy].
        
        div.clearfix
          button(type='button' onclick="document.getElementById('id02').style.display='none'" class='cancelbtn1') Cancel
          button(type="submit" class="signupbtn") Sign Up

block content
