extend layout

block content
  
  div.view_area
    div.sendContainer
      form(method='POST' action="/users/send_message")
        div#toUser
          p to User: #[input(type="text" name="username")]
        div#Message
          p.t Message: 
          br 
          textarea(name="message" rows="5" cols="40")
        div#Sendbtn
          input(type="submit" name="submit" value="Send")
