extend layout

block content
 
  div.view_area
    div.usersList
      h3#userstxt Users
      hr
      ul
        li.useLi 
          i(class="fas fa-user-alt" id="user" onclick="show_mess()") Mohammed
        hr
        li.useLi 
          i(class="fas fa-user-alt" id="user" onclick="show_mess()") Ibr2
        hr
        
        
    div.messArea
      div
        h3#userstxt message
      hr
      div
        textarea(readonly cols="97" rows="25" ).textArea#outputmess
      div.downDeCh
        div.left
          button(onclick="DecryptMess()")#decryptbt1 decrypt
        div.right
          div.left
            select#chosd_hash1(onchange='show_key1()')
              option Select Cipher
              option CaesarCipher
              option Morse Code
              
          div.right
            div.left
              p#key_text1 key:
            div.right
              input#key1(type='number' name='key' min='1' max='26')
  
  div(class="outputDec" id="outputDec")
    span(onclick="document.getElementById('outputDec').style.display='none'" class='close1' title="Close Modal1") &times;
    div(class="Dec-content animateDec")
      div(class="containerDec")
        h3#usertext The encrypted message is: 
        textarea#outputmessage(rows='8' cols='70' readonly)
      
    
